{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css'%}">

  <script src=" {% static 'jquery-3.4.1.slim.min.js'%}">  </script>
  <script src=" {% static 'popper.min.js'%} "></script>
  <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js'%}"></script>


  <style>
    body{
      background-image: url("{% static 'imges/library.jpg'%} ");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
    }
    .ll{
     
     margin: 100px;
     


    } 
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=" {% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'add' %}">Add Book</a>
            <a class="dropdown-item" href="">Remove Book</a>
         
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">contact</a>
        </li>
      </ul>
      
    </div>
  </nav>

  <div class="ll">

    <form style="width: 500px;background-color:wheat; border-radius: 15px;padding: 20px; margin-left: 750px;">
      <div class="form-row">
        {{form}}
      </div>
      <div class="form-group">
  
      </div>
      <button type="submit" class="btn btn-primary">submit</button>
      <button type="submit" class="btn btn-primary">Reset</button>
    </form>
  </div>

</body>
</html>