{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LOGIN</title>
        <link rel="stylesheet" href="{% static 'libraryy.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <script>
           function SignIn() {
            var x = document.forms["firstform"]["user"].value;
            var y = document.forms["firstform"]["pass"].value;
            if (x == "") {
                alert("you must fill the username field ");
                return false;
            }
            if (y == "") {
                alert("you must fill the password field ");
                return false;
            }
        }
        </script>
    </head>
    <body>
        <div class="nav">
            <img src="{% static 'books.png' %}" alt="library icon" class="navitem pattern" width="74" height="45">
            <p class="navitem name">FCAI library</p>
        </div>
        <div>
            <form name="firstform" onsubmit="return SignIn()" class="signIn" method="post">
                <input type="text" name="user" placeholder="enter your name" class="box"><br>
                <input type="password" name="pass" placeholder="enter your password" class="box"><br>
                <input type="submit" value="Sign in" class="box signButton signinbu">
            </form>
        </div>
    </body>
</html>